@charset "UTF-8";
/* CSS Document */
/* line 6, ../sass/main.scss */
main {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
/* line 11, ../sass/main.scss */
main article {
  border: solid 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
}
@media all and (max-width: 600px) {
  /* line 11, ../sass/main.scss */
  main article {
    border-width: 7px;
  }
}
/* line 22, ../sass/main.scss */
main article#bb {
  border-color: #3FBDFF;
  z-index: 3;
}
/* line 26, ../sass/main.scss */
main article#bb .back {
  background-color: rgba(63, 189, 255, 0.2);
}
/* line 30, ../sass/main.scss */
main article#bb > header div {
  background-color: #3FBDFF;
}
/* line 34, ../sass/main.scss */
main article#bb section header {
  background-color: #3FBDFF;
}
/* line 39, ../sass/main.scss */
main article#tf {
  border-color: #0FDC4E;
  z-index: 2;
}
/* line 43, ../sass/main.scss */
main article#tf .back {
  background-color: rgba(146, 248, 178, 0.3);
}
/* line 47, ../sass/main.scss */
main article#tf > header div {
  background-color: #0FDC4E;
}
/* line 51, ../sass/main.scss */
main article#tf section header {
  background-color: #0FDC4E;
}
/* line 56, ../sass/main.scss */
main article#st {
  border-color: #FFB303;
  z-index: 1;
}
/* line 60, ../sass/main.scss */
main article#st .back {
  background-color: rgba(255, 201, 77, 0.3);
}
/* line 64, ../sass/main.scss */
main article#st > header div {
  background-color: #FFB303;
}
/* line 68, ../sass/main.scss */
main article#st section header {
  background-color: #FFB303;
}
/* line 73, ../sass/main.scss */
main article header {
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 4;
}
/* line 80, ../sass/main.scss */
main article header div {
  margin: 0 auto;
  padding: 0.5em;
  width: 25%;
}
@media all and (max-width: 1000px) {
  /* line 80, ../sass/main.scss */
  main article header div {
    width: 50%;
  }
}
/* line 89, ../sass/main.scss */
main article header div h3 {
  font-size: 2em;
}
/* line 93, ../sass/main.scss */
main article header div p {
  font-size: 0.8em;
}
/* line 99, ../sass/main.scss */
main article section {
  width: 50%;
  padding: 3em;
  box-sizing: border-box;
  position: relative;
  z-index: 4;
}
@media all and (max-width: 1000px) {
  /* line 99, ../sass/main.scss */
  main article section {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  /* line 99, ../sass/main.scss */
  main article section {
    padding: 3em 2em;
  }
}
/* line 114, ../sass/main.scss */
main article section header {
  margin-bottom: 2em;
  padding: 1em 0.5em 0.7em 0.5em;
}
/* line 118, ../sass/main.scss */
main article section header h4 {
  display: inline;
  font-size: 1.5em;
}
/* line 123, ../sass/main.scss */
main article section header p {
  display: inline;
  margin-left: 3em;
}
/* line 129, ../sass/main.scss */
main article section a {
  color: #FF0000;
}
/* line 133, ../sass/main.scss */
main article section iframe {
  margin: 2em 0 0 0;
  width: 100%;
}
/* line 138, ../sass/main.scss */
main article section dl {
  margin-top: 2em;
}
/* line 141, ../sass/main.scss */
main article section dl:after {
  clear: left;
}
/* line 145, ../sass/main.scss */
main article section dl dt {
  float: left;
  width: 20%;
  margin-right: 2em;
}
@media all and (max-width: 600px) {
  /* line 145, ../sass/main.scss */
  main article section dl dt {
    margin-right: 1em;
  }
}
/* line 154, ../sass/main.scss */
main article section dl dt img {
  width: 100%;
  height: auto;
}
/* line 160, ../sass/main.scss */
main article section dl dd {
  padding: 1.25em 0 0 1.25em;
  text-indent: -1em;
}
@media all and (max-width: 600px) {
  /* line 160, ../sass/main.scss */
  main article section dl dd {
    padding-top: 0.5em;
    font-size: 0.9em;
    line-height: 1.25em;
  }
}
/* line 170, ../sass/main.scss */
main article section dl dd:before {
  content: "・";
}
