@charset "utf-8";

/* CSS Document */

@import "settings";

html {
	background-color: $black;

	body {
		font-size 	: 18px;
		font-family :'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
		line-height : 1.75em !important;
		color 	 	: lighten($black, 20%);
		position 	: $r;
		background 	: $white;


		@include media($forteen) {
			font-size: 14px;
		}

		@include media($twelve) {
			font-size: 12px;
		}

		@include media($ten) {
			font-size: 16px;
		}

		@include media($six) {
			font-size: 12px;
		}

		.back {
			@include abT(0,-20%,0);
			width 	 : $max;
			height 	 : 10em;
			transform: rotate(-30deg);

			@include media($six) {
				height 	 : 5em;
			}
		}

		a {
			color			: #0033cc;
			text-decoration	: none;

			&:hover {
				text-decoration: none;
			}
		}

		img {
			border 		 	: none;
			line-height 	: 0;
			vertical-align  : bottom;
		}
	}
}