@charset "UTF-8";
/* CSS Document */
body {
  font-size: 18px;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  line-height: 1.75em !important;
  color: #333333;
  position: relative; }
  @media all and (max-width: 1000px) {
    body {
      font-size: 12px; } }
  body .back {
    position: absolute;
    top: 0;
    left: -20%;
    z-index: 0;
    width: 100%;
    height: 10em;
    transform: rotate(-30deg); }
  body a {
    color: #0033cc;
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }
  body img {
    border: none;
    line-height: 0;
    vertical-align: bottom; }
