@charset "utf-8";
/* CSS Document */

@import "settings";

body > header {
	background 		: url("../img/back.jpg") no-repeat center;
	background-size : cover;
	border 	 		: #5FD9FF solid 10px;
	position 		: $r;
	z-index 		: 4;
	
	@include media($six) {
		border-width: 7px;
	}
	
	.back {
		background-color: $modal1;
	}
	
	h1 {
		margin  : 2em;
		position: $r;
		z-index : 4;
	}
	
	h2 {
		width : $max * 0.9;
		margin: -4em 0 0 2%;
		position 	: $r;
		z-index 	: 4;
	
		@include media($six) {
			margin-left: 7%;
		}
		
		img {
			width : $max;
			height: auto;
		}
	}
	
	nav {
		position 	:  $r;
		width 		: 46.5%;
		margin 		: -14em auto 3em auto;
		line-height : 1em !important;
		z-index 	: 5;
	
		@include media($ten) {
			margin-top: -8.5em;
		}
	
		@include media($eight) {
			margin-top: -5em;
		}
	
		@include media($six) {
			margin-top: 3em;
		}
		
		ul {
			display 	 	: flex;
			justify-content : space-between;
	
			@include media($ten) {
  				flex-direction : column;
				justify-content: space-around;
			}
			
			li {
				width: 31%;
	
				@include media($ten) {
					width: $max;
					margin-bottom: 1em;
				}
			
				a {
					display 	: block;
					text-align  : center;
					font-weight : bold;
					color 		: $white;
					padding 	: 0.5em 0.5em 0.3em 0.5em;
					box-sizing 	: border-box;
					
					i {
						float: left;
						margin-top: -0.05em;
					}

					span {
						display 	: block;
						font-size 	: 0.7em;
					}
				}

				&:nth-of-type(1) {
					a {
						background-color: $blue;
					}
				}

				&:nth-of-type(2) {
					a {
						background-color: $green;
					}
				}

				&:nth-of-type(3) {
					a {
						background-color: $orange;
					}
				}
			}
		}
	}
	
	p {
		text-align 	: center;
		text-shadow : 1px 1px 1px $white , -1px -1px 1px $white;
		width 	  	: 46.5%;
		margin 		: 2em auto;
		position 	: $r;
		z-index 	: 5;
		
		&:nth-of-type(2){
			font-size : 3em;
			transform : rotate(90deg);
			margin: 1em auto 0 auto;
			
			a {
				color: $black;
			}
		}
	}
}