@charset "utf-8";
/* CSS Document */

@import "settings";

main {
	position : $r;
	z-index  : 1;
	overflow : hidden;
	
	article {
		border 			: solid 10px;
		display 		: flex;
		flex-wrap 		: wrap;
		position 		: $r;
		background-color: $white;
	
		@include media($six) {
			border-width: 7px;
		}
				
		&#bb {
			border-color: $blue;
			z-index: 3;
			
			.back {
				background-color: $modal2;
			}
			
			& > header div {
				background-color: $blue;
			}
			
			section header {
				background-color: $blue;
			}
		}

		&#tf {
			border-color: $green;
			z-index: 2;
			
			.back {
				background-color: $modal3;
			}
			
			& > header div {
				background-color: $green;
			}
			
			section header {
				background-color: $green;
			}
		}

		&#st {
			border-color: $orange;
			z-index: 1;
			
			.back {
				background-color: $modal4;
			}
			
			& > header div {
				background-color: $orange;
			}
			
			section header {
				background-color: $orange;
			}
		}
		
		header {
			width 		: $max;
			color 		: $white;
			text-align 	: center;
			position 	: $r;
			z-index 	: 4;
			
			div {
				margin 	: 0 auto;
				padding : 0.5em;
				width 	: $max / 4;
	
				@include media($ten) {
					width: $max / 2;
				}
			
				h3 {
					font-size: 2em;
				}

				p {
					font-size: 0.8em;
				}
			}
		}
		
		section {
			width 	 	: $max / 2;
			padding 	: 3em;
			box-sizing 	: border-box;
			position 	: $r;
			z-index 	: 4;
	
			@include media($ten) {
  				width 	: $max;
			}
	
			@include media($six) {
				padding : 3em 2em;
			}
			
			header {
				margin-bottom: 2em;
				padding 	 : 1em 0.5em 0.7em 0.5em;
				
				h4 {
					display: inline;
					font-size: 1.5em;
				}
				
				p {
					display: inline;
					margin-left: 3em;
				}
			}
			
			a {
				color: #FF0000;
			}
			
			iframe {
				margin: 2em 0 0 0;
				width : $max;
			}
			
			dl {
				margin-top: 2em;
				
				&:after {
					clear: left;
				}
				
				dt {
					float:left;
					width: $max * 0.2;
					margin-right: 2em;
	
					@include media($six) {
						margin-right: 1em;
					}

					img {
						width : $max;
						height: auto;
					}
				}

				dd {
					padding 	: 1.25em 0 0 1.25em;
					text-indent : -1em;
	
					@include media($six) {
						padding-top : 0.5em;
						font-size 	: 0.9em;
						line-height : 1.25em;
					}

					&:before {
						content: "・";
					}
				}
			}
		}
	}
}