/* CSS Document */
main nav {
  position: fixed;
  bottom: 35%;
  right: 0.5em;
  z-index: 10;
  text-align: right; }
  main nav li {
    list-style: none; }
    main nav li:nth-of-type(1) a {
      color: #3FBDFF; }
    main nav li:nth-of-type(2) a {
      color: #0FDC4E; }
    main nav li:nth-of-type(3) a {
      color: #FFB303; }
    main nav li span {
      display: none; }
  main nav .on, main nav .on a {
    font-weight: bold; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 217, 255, 0.5); }
